/* styles.css */

/* Pitch-black background */
body {
  background-color: #000000;
  color: #ffffff; /* Light text color */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Link styling */
.welcome-text {
  text-align: center;
  margin-top: 20px; /* Adjust the margin as needed */
}

/* Button styling */
.navigation-button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  background-color: transparent; /* Transparent background */
  color: #ffffff; /* White text color */
  border: 2px solid #ffffff; /* White rounded outline */
  border-radius: 13px; /* Rounded corners */
  cursor: pointer;
  transition: border-color 0.3s ease; /* Smooth transition for the glow effect */
}

.navigation-button:hover {
  border-color: #ffffff; /* White border on hover for the glowing effect */
}

/* Add any other styles based on your design preferences */
